<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="body"
        class="bg-dark text-light mt-auto">
    <div class="container py-3 text-center">

        <p class="mb-1">
            © 2025 <strong>University Library Management System</strong>
        </p>

        <p class="mb-0 small">
            Developed by <span class="fw-semibold">By RUDRA PRATAP NASKAR </span> |
            All Rights Reserved.
        </p>

    </div>
</footer>

</body>
</html>
